/* Setting bigger root font size */
/* html {
	font-size: 30px;
} */

body {
	font-family: arial, sans-serif;
	/* width: 25em;
	height: 25em; */
	border-style: solid;
	border-color: blue;
	padding: 1em;
	/* change to 0 em, 1 ... 6 em */
	margin: 1em;
	/* change to 0 em, 1 ... 6 em */
}

/* see that with the following rule the paragraph inside 
article inherits the padding of article */
/* article p {
	padding: inherit;
} */

#paddingTests {
	background-color: gray;
	color: yellow;
	/* width: 4em;
	height: 2em; */

	padding: 1em;
	/* change to 0 em, 1 ... 6 em */
	border-color: red;
	border-style: solid;
	border-width: 1em;
	/* change to .5 em */
}

#marginTests {
	background-color: gray;
	color: yellow;
	width: 30em;
	height: 20em;

	margin: 2em auto;
	/* change to 0 em, 1 ... 6 em */
	/* also test adding auto after 2em */
	
	border: 5px dashed red;
}

#outer {
	width: 6em;
	border: 1em ridge red;
}

#inner {
	border: .5em solid lightblue;
	padding-left: .5em;
}

/* this is an adjacent sibling selector */
p + div{ 
	padding: 10em;
}

/* this is a child selector */
div > div {
	color: orangered;
}