body {
	/* note multiple values are given as "fallback"s. */ 
	font-family: arial, Helvetica, sans-serif;

	background: #F5F5DC;
	font-size: 90%;
}

.noShorthand {
	/* Font specification */
	font-style: italic;
	font-variant: small-caps;
	font-weight: normal;
	font-size: .80em;
	line-height: 1.1em;
	font-family: Verdana, Arial, sans-serif;

	/* Border specification */
	border-width: 2em;
	border-style: solid;
	border-color: green;

	/* Margin specification */
	margin-top: 6em;
	margin-right: 8em;
	margin-bottom: 4em;
	margin-left: 2em;

	/* Padding specification*/
	padding-top: 3em;
	padding-right: 4em;
	padding-bottom: 2em;
	padding-left: 1em;
}

.withShorthand {
	/* Font specification */
	font: italic small-caps normal .80em/1.1em Verdana, Arial, sans-serif;

	/* Border specification */
	border: 2em solid green;

	/* Margin specification */
	margin: 6em 8em 4em 2em;

	/* Padding specification*/
	padding: 3em 4em 2em 1em;
}